@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Contact Me</h1>

    <br></br>
    <p>
        If you would like to contact me here are my details:
    </p>

    <br></br>

    <p>
        <b>Cellphone Number:</b> 0799924850
    </p>

    <br>

    <p>
        <b>Email Address:</b> chettykubeshan0@gmail.com
    </p>

</div>

