@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome To About Me</h1>

    <br></br>
    <p>
        I am a junior developer with a strong foundation in C#, SQL, and binary decoding. Currently, I am expanding my skill set by exploring Python and Flutter, and diving into real-time messaging services like Firebase. I am also starting to learn about cloud technologies, specifically AWS, and working with EC2 to create virtual machines and S3 for blob storage. I have a passion for building new things and constantly look for opportunities to improve my programming skills.

    </p>

    <br></br>

    <p>
        In my free time, I enjoy gaming and have recently developed an interest in automobiles, particularly understanding how they work and how to maintain them. I also love watching anime and reading manga, which fuels my creativity and appreciation for storytelling.
    </p>

</div>




