@model AccountsModel

<div class="modal fade" id="CreateAccountModal" tabindex="-1" aria-labelledby="CreateAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateAccountModalLabel">Create Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("create", "Accounts", FormMethod.Post))
{
    <div class="form-group">
                        <label>Account Number:</label>
                        @Html.TextBoxFor(a => a.account_number, new { @class = "form-control" })
                    </div>

    <br>

        <br>

    <div class="form-group" style="display: none;">
                        @Html.TextBoxFor(a => a.person_code, new { @class = "form-control", @readonly = true })
                    </div>

    <br>

    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
}
            </div>
        </div>
    </div>
</div>