@model List<PersonsModel>

<div class="text-center">
    <h1 class="display-4">Persons</h1>

    <p>
        This page provides a comprehensive view of individuals and their details. Easily update personal information, review account history, and track all transactions associated with their accounts, ensuring complete oversight and efficient management.
    </p>
    <br></br>

</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreatePersonModal">Create</button>

@await Html.PartialAsync("_CreatePersonModal", new PersonsModel())
@await Html.PartialAsync("_CreateAccountModal", new AccountsModel())

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.name</td>
                <td>@person.surname</td>
                <td>@person.id_number</td>
                <td>
                    @* <i class="bi bi-eye"></i> *@
                    <a href="@Url.Action("Accounts", "Accounts", new { personCode = person.code })" class="btn btn-primary">
                        View Account
                    </a>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateAccountModal">Create Account</button>
                </td>
            </tr>    
        }
    </tbody>
</table>
